POSTGRES_PASSWORD=YOURTESTPASSWORD
TEMP=TEMPORARYVALUE
POSTGRES_USER=malthis
POSTGRES_DB=malthisdb
REDIS_HOST=redis
REDIS_PORT=6379
DATABASE_URL=postgresql+asyncpg://malthis:YOURTESTPASSWORD@db:5432/malthisdb
SECRET_KEY=YOURSECRETKEY
WHISPER_MODEL=small
OLLAMA_URL=http://ollama:11434
OLLAMA_MODEL=llama3