fastapi
uvicorn[standard]
fastapi-users[sqlalchemy]
aiosqlite
celery
redis
asyncpg
sqlalchemy
python-dotenv
python-multipart
sqlmodel
openai_whisper
aiofiles
aiohttp
ollama
httpx
pillow
reportlab
markdown